<%= token_tag nil %>

<p class='form_field input'>
  <label>
    username:
    <input class='input-field' type='text'
      name='user[username]' value="<%= user.username %>">
  </label>
</p>

<p class='form-field input'>
  <label>
    password:
    <input class='input-field' type='password'
      name='user[password]' value="">
  </label>
</p>

<p class='form-field input'>
  <label>
    again:
    <input class='input-field' type='password'
      name='user[password_confirmation]' value=''>
  </label>
</p>

<p class='form-field button'>
  <input class='button' type="submit" value="Continue &rarr;">
</p>