<section class="new-user-page">

  <form class='form new-user' action="<%= users_url %>" method="post" accept-charset="utf-8">

    <h2 class="page-title">New User</h2>

    <%= token_tag nil %>

    <%= render partial: "form", locals: {user: @user} %>
    
  </form>

</section>