
<%= @step.content %>


<section class="prompt center">
    <%= link_to "Previous Step", previous_wizard_path, class: "option" %>
   <button type="button" class="troubleshooting" data-toggle="collapse" data-target="#trouble">Troubleshooting</button>
    <%= link_to "Next Step",     next_wizard_path,     class: "option"%>
</section>


<div id="trouble" class="collapse out note">

  <div class="disqus">
    <%= render 'layouts/disqus' %>
  </div>

</div>